body {
  font-family: "Avenir Next";
}
.top {
  background-image:url(IMG_7080.jpg);
  background-size:cover;
  padding-top:180px;
  padding-bottom: 600px;
  color: #fff;
}
.top-wrapper h1 {
  text-align:center;
}
span {
  color:red;
}

